* {
    margin-top: 0px;
}

body {
    background: #C1CDC1;
}

.verde {
    background-color: #166478;
}

.data {
    margin: auto;
    height: 25px;
    width: 500px;
    color: antiquewhite;
    font-family: helvetica;
    font-weight: 100;
    text-align: center;
}

.borda {
    border-style: none solid solid solid;
    border-color: white;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 1px 1px 1px #888888;
}